body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar {
  margin: auto;
  padding: 0;
  position: relative;
  top: -22px;
}


nav a {
  display: inline-block;
  margin: 0.5em;
}

form div {
  margin: 0;
  display: inline-block;
}

.allbooks {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10em;
  min-width: 10em;
}

.bookpreview {
  display: flex;
  width: 30%;
  margin: 0;
  flex-direction: column;
  align-items:center;
  padding-top: 10px

}


.book-titles {
  font-size: 0.9em;
  max-width: 10em;
  color: black;
  align-items: flex-start;


}

.books-author {
  font-size: 0.9em;
  max-width: 10em;
  padding-bottom: 15px;
  padding-top: 6px;
}



.book-titles:hover {
  color:orange;
  text-decoration:underline;

}

/* .author-name:hover {
  color: orange
} */

#sidebar-container {
  display: flex;
  min-width: 7em;
  height: 100%;
  background-color: rgb(0, 89, 96);
  border-right: 1px solid gray;
  position: fixed;
  justify-content: center;
  top: 16.8%

}

#sidebar-links {
  flex-direction: column;
}

.link-name {
  color: white;
  padding: 1px;
}

#log-in {
  text-align: center;
}

.allGenres {
  text-align: center;
  margin: 0 0 0 5em;
}

#genre-param {
  text-align: center;
}

#books-by-genres {
  display: flex;
  margin-left: 200px;
  height: 500px;
  width: auto;
  position: relative;
}

#books-container {
  margin: 5%
}

#shoppingcart {
  display: flex;
}

.cartitem {
  display:flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 3px 0px;
  width: 75%
}

.navbar-features {
  display: flex;
  align-items: center;
}

.navbar-links {
  flex: 3;
  align-items: center
}

.navbar-writing {
  flex: 1.2;

}


.navbar {
  background: linear-gradient(
    #62B1F6,
    #63B8FF,
    #74BBFB,
    rgb(114, 180, 230)
  );
  border: none;
  height: 128px;
  z-index: 2
}

hr {
  margin: 0;
  padding: 0;
}

.link-name:hover {
  color:orange;
  text-decoration:underline;
}

.all-authors {
  display: flex;
  flex-wrap: wrap
}

.author-preview {
  padding: 10px;
  margin-left: 10em;
  min-width: 10em;
}



.author-name:hover {
  color:orange;
  text-decoration:underline;
}

.top-link {
  padding-top: 13px;
}

.page-header {
  padding-left: 7px;
  padding-top: 10px;
}

#single-book-view {
  width: 70%;
  text-align: center;
  margin: auto;
}

#review-form-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: auto;
}

#review-form {
  display: flex;
  flex-direction: column;
}

select {
  width: 4em;
  margin: auto;
}

#review-form-buttons {
  justify-content: space-evenly;
  flex-direction: row;
}

#review-book-info {
  align-items: center;
}

textarea {
  width: 25em;
  height: 25em;
  resize: none;
}


.allGenres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
}

.each-genre {
  width: 15em;
  height: 100px;
  margin: auto;
}

#books-by-genres {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.books-container {
  flex-direction: column;
  flex-wrap: wrap;
  height: 18em;
}

#book-cover {
  width: 25em;
  height: 18em;
  margin: auto;
}

.book-cover {
 width: 11em;
 height: 16em;
}
