body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.5em;
}

form div {
  margin: 0;
  display: inline-block;
}

#allbooks {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10em;
  min-width: 10em;
}

.bookpreview {
  display: flex;
  width: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items:center;
  /* justify-content: space-around */

}


#titles {
  font-size: 0.9em;
  max-width: 10em;

}


#book-cover {
  width: 11em;
 height: 16em;
}

#sidebar-container {
  display: flex;
  min-width: 10em;
  height: 100%;
  background-color: rgb(0, 89, 96);
  border-right: 1px solid gray;
  position: fixed;
}

#sidebar-links {
  flex-direction: column;
}

.link-name {
  color: white;
}

#log-in {
  text-align: center;
}

#allGenres {
  text-align: center;
}

#genre-param {
  text-align: center;
}

#books-by-genres {
  text-align: center;
}
